<body>
    <div class="menu">
        <ul>
            <li><a href="inicio">Home</a></li>
            <li><a href="empresa/lista">Empresas</a></li>
            <li><a href="empresa/cadastro">Cadastrar Empresa</a></li>
            <li><a href="cliente/lista">Cliente</a></li>
            <li><a href="cliente/cadastro">Cadastrar Cliente</a></li>
            <li><a href="sobre/mim">Sobre o projeto</a></li>
        </ul>
    </div>

    <!-- <div class="card">
        <p-menubar [model]="items"></p-menubar>
    </div> -->
</body>