<div class="todo">
    <main>
        <form id="parceiros">
            <div>
                <label for="name" id="name-label">Name*</label>
                <input type="text" id="name" [(ngModel)]="clienteService.clienteAtual.companyName"
                    [ngModelOptions]="{standalone: true}" placeholder="digite o nome do cliente" required>
            </div>
            <div>
                <label for="colab" id="name-label">Colaboradores*</label>
                <!-- <input type="email" id="colab" [(ngModel)]="clienteService.clienteAtual.collaboratorsCount"
                    [ngModelOptions]="{standalone: true}" placeholder="Qtd de colaboradores" required> -->

                <p-inputNumber id="colab" [(ngModel)]="clienteService.clienteAtual.collaboratorsCount"
                    [ngModelOptions]="{standalone: true}" inputId="withoutgrouping" [useGrouping]="false" />

            </div>
            <div>
                <label for="ativo" id="name-label">Ativo*</label>
                <input type="text" id="ativo" [(ngModel)]="clienteService.clienteAtual.isActive"
                    [ngModelOptions]="{standalone: true}" placeholder="digite o nome do repositório" required>
            </div>
            <input type="submit" value="Enviar" (click)="atualizar()" id="submit">
        </form>
    </main>
</div>